<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lab1">
    <select id="exam1" resultType="BookDTO">
        select id, title, price, kind from book
    </select>

    <select id="exam2" resultType="BookDTO">
        select id, price, title, price,kind from book order by price
    </select>

    <select id="exam3" resultType="BookDTO">
        select id, title, price, kind from book where price >= 20000
    </select>

    <select id="exam4" resultType="BookDTO">
        select id,title,price,kind from book where kind='b01'
    </select>

    <select id="exam5" resultType="BookDTO">
        select id,title,price,kind from book where kind='b04' or kind = 'b05'
    </select>

    <select id="exam6" parameterType="java.lang.String" resultType="BookDTO">
        select id,title,price,kind from book where title like concat('%',${keyword},'%')
    </select>


    <select id="exam7" resultType="BookDTO">
        select id,title,format(avg(price),0) avg,kind from book where kind is not null group by kind
    </select>
</mapper>