<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>응답용JSP</title>
</head>
<body>
<h2>Forward from QueryStringController2 to queryView2.html</h2>
<hr>
	<ul th:if="${queryDTO != null}"><!--if태그 참이면 ul태그 나오고 거짓이면 무시됨-->
			<li>[[${ queryDTO.testName }]]</li>
			<li>[[${ queryDTO.testAge }]]</li>
			<li>[[${ queryDTO.testAddr }]]</li>
	</ul>
<h3>Total Query String : [[${ spring }]]</h3>
<hr>
<a th:href='${ #request.getHeader("referer") }'>입력화면</a>
</body>
</html>