<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
table, th, td  {
	border : 1px solid black;
	border-collapse: collapse;
}
td {
	text-align: center;
}
</style>
</head>
<body>
<h2>전달된 스텝 정보입니다.</h2>
<table>
<tr><th>스텝이름</th><th>전화번호</th><th>나이</th></tr>
<tr>
<td>[[${ kkk.name }]]</td><!--보관명: kkk-->
<td>[[${ kkk.phoneNumber }]]</td><!--kkk의 이름으로 된 객체를 꺼내서 map이냐 아니냐에 따라 getName을 출력할지 mapName을 출력할지 정해짐-->
<td>[[${ kkk.age }]]</td>
</tr> 
</table> 
<hr>
<a th:href='${ #request.getHeader("referer") }'>입력화면으로...</a>
</body>
</html>
